<template>
    <div
        class="o-time-tracker">

        <div
            class="debug">
            {{ $data }}
        </div>

        <div
            class="m-time-tracker-headline">
            <div
                class="a-current-activity">
                {{ currentActivity }}
            </div>

            <md-button
                class="a-stop-tracking"
                :disabled="!isCurrentlyTracking"
                @click="handleStopTracking">
                Stop Tracking
            </md-button>

        </div>

        <div
            class="m-new-activity">
            <label
                for="id_newActivity"
                class="a-new-activity">
                Start new activity
            </label>
            <input
                v-model="task.name"
                type="text"
                name="newActivity"
                id="id_newActivity">
            <input
                type="text"
                name="newActivityTags"
                id="id_newActivityTags"
                placeholder="Tags">

            <md-button
                v-if="isCurrentlyTracking"
                @click="handleSwitchTracking">
                Switch
            </md-button>
            <md-button
                v-else
                @click="handleStartTracking"
                :disabled="isCurrentlyTracking">
                Start Tracking
            </md-button>
        </div>

        <div
            class="m-time-tracker-footer">
            <span
                class="a-time-total">
                Current Time: {{ currentTime.seconds }}
                {{ timeTotal }}
            </span>
            <button
                class="a-add-earlier-actiity">
                Add Earlier Activity
            </button>
            <button
                class="a-show-overview">
                Show Overview
            </button>
        </div>
    </div>
</template>
<script>
import { mapActions } from 'vuex'

import timeDiff from '@/timeDiff';
import clone from '@/clone';
import models from '@/models';

export default {
    name: 'TimeTracker',
    data() {
        return {
            task: models.task.blankObj(),
            progress: [],

            isCurrentlyTracking: false,
            totalTime: 0,
            currentActivity: 'No activity',

            tickerId: null,
        }
    },
    created() {
        this.taskStart = new Date();
        this.taskEnd = new Date();
    },
    computed: {
        timeTotal() {
            if (this.totalTime > 0) {
                return this.totalTime;
            }
            return 'No records today';
        },
        stopButtonDisabledState() {
            const buttonDisabledState = (this.isCurrentlyTracking ? 'enabled': 'disabled');
            console.log(buttonDisabledState);
            return buttonDisabledState;
        },
        currentTime() {
            return timeDiff(this.taskStart, this.taskEnd);
        }
    },
    methods: {
        ...mapActions([
            'createTask'
        ]),
        timeTick() {
            return setInterval(() => {
                this.taskEnd = new Date();
            }, 1000);
        },
        initDate() {
            this.taskStart = new Date();
            this.taskEnd = new Date();
        },
        updateTrackingCallback() {
            this.taskEnd = new Date();
        },
        handleStartTracking() {
            this.createTask(clone(this.task)).then((result) => {
                window.clearInterval(this.tickerId);
                this.isCurrentlyTracking = true;
                this.tickerId = window.setInterval(this.timeTick.bind(this), 1000);
            });
        },
        handleSwitchTracking() {
            window.clearInterval(this.taskUpdaterId);
            this.initDate();
            this.isCurrentlyTracking = true;
            this.taskUpdaterId = window.setInterval(this.updateTrackingCallback.bind(this), 1000);
        },
        handleStopTracking() {
            window.clearInterval(this.taskUpdaterId);
            this.isCurrentlyTracking = false;

            this.history.push({
                'taskStart': clone(this.taskStart),
                'taskEnd': clone(this.taskEnd),
                'taskCategory': clone(this.taskCategory),
                'taskName': clone(this.taskName),
            });
            this.initDate();
        }
    }
};
</script>

<style scoped lang="scss">
</style>