$white: #f9f9f9;
$orange: #ff9e50;
$blue: #1fa2e5;
$purp: #8e83bc;

$gwhite: #f0f0f0;
$gorange: #b3b3b3;
$gblue: #828282;
$gpurp: #626262;

$border_width: 1px;
$box_padding: 5px;

html, body {
    // color: $purp;
    // background-color: $orange;
    background-color: $white;
}

.btn {
    padding: 5px 10px 5px 10px;
    color: $white;
    border: none;
    background-color: $purp;
}

.header-item {
    color: $blue;
}

.t-list {
    border: $border_width solid $purp;
    padding: $box_padding;
}

.t-display {
    min-height: 1em;
}

.t-control {

}

.bg_white { background-color: $white; }
.bg_orange { background-color: $orange; }
.bg_blue { background-color: $blue; }
.bg_purp { background-color: $purp; }

.bg_white_faded { background-color: $gwhite; }
.bg_orange_faded { background-color: $gorange; }
.bg_blue_faded { background-color: $gblue; }
.bg_purp_faded { background-color: $gpurp; }

.swatch {
    display: inline-block;
    padding: 30px 40px;
    border: 1px solid black;
    background-color: #ffffff;
    list-style-type: none;
    li {
        width: 50px;
        height: 50px;
        display: inline-block;
        border: 1px solid black;
        //padding: 5px;
    }
}

// organisms
.section-header {
    overflow: hidden;
    width: 100%;
    .header-item {
        float: left;
    }
    .btn {
        float: right;
    }
    border-bottom: 1px solid $gwhite;
}

// page
body {
    border: 1px solid $gorange;
    padding: 1em;
}
