:root {
    --red-01: Crimson;
    --red-02: DarkRed;
    --red-03: FireBrick;
    --red-04: IndianRed;
    --red-05: LightCoral;
    --red-06: Tomato;

    --green-01: CadetBlue;
    --green-02: DarkCyan;
    --green-03: DarkSeaGreen;
    --green-04: DarkSlateGray;
    --green-05: ForestGreen;
    --green-06: MediumSeaGreen;

    --blue-01: DarkBlue;
    --blue-02: DeepSkyBlue;
    --blue-03: DodgerBlue;
    --blue-04: LightSkyBlue;
    --blue-05: RoyalBlue;
    --blue-06: SteelBlue;
}

.bg_r01 {
    background: var(--red-01);
}
.bg_r02 {
    background: var(--red-02);
}
.bg_r03 {
    background: var(--red-03);
}
.bg_r04 {
    background: var(--red-04);
}
.bg_r05 {
    background: var(--red-05);
}
.bg_r06 {
    background: var(--red-06);
}

.bg_g01 {
    background: var(--green-01);
}
.bg_g02 {
    background: var(--green-02);
}
.bg_g03 {
    background: var(--green-03);
}
.bg_g04 {
    background: var(--green-04);
}
.bg_g05 {
    background: var(--green-05);
}
.bg_g06 {
    background: var(--green-06);
}

.bg_b01 {
    background: var(--blue-01);
}
.bg_b02 {
    background: var(--blue-02);
}
.bg_b03 {
    background: var(--blue-03);
}
.bg_b04 {
    background: var(--blue-04);
}
.bg_b05 {
    background: var(--blue-05);
}
.bg_b06 {
    background: var(--blue-06);
}

.a-cell {
    height: 2em;
    padding: 0.25em 0.5em;
}

.m-table-list--row {
    overflow: hidden;
}

.m-table-list--row .a-cell {
    float: left;
    width: calc(14% - 2px);
    border: 1px solid black;
}

/*
.m-table-list {
    display: flex;
    margin: 0 0 3em 0;
    padding: 0;

    position: relative;
    top: 3px;
    left: 3px;
}

.m-table-list .m-table-list--row {

}

.a-cell {
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: rgba(112, 128, 144, 0.2);

    margin: -3px 0 0 -3px;

}

@media all and (max-width: 500px) {
    .m-table-list {
        display: block;
    }

    .m-table-list .a-cell {
        width: 100% !important;
    }
}


.o-list {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-between;
 
}

.m-table-list {

}

.m-table-list .a-cell {
}

.a-cell {

}
*/

/*# sourceMappingURL=styles.css.map*/