<template>
  <div class="home">
    <TimeTracker />
  </div>
</template>

<script>
// @ is an alias to /src
import TimeTracker from '@/components/TimeTracker.vue'

export default {
  name: 'home',
  components: {
    TimeTracker
  }
}
</script>
